@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideRight {
  0% { transform: translateX(-200%) skewX(-15deg); }
  100% { transform: translateX(400%) skewX(-15deg); }
}

.animate-slide-right {
  animation: slideRight 1.5s infinite ease-in-out;
}